<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MedX.Desktop.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MedX.Desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MedX.Desktop.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MedX.Desktop.Settings>
            <setting name="IsDarkTheme" serializeAs="String">
                <value>False</value>
            </setting>
        </MedX.Desktop.Settings>
    </applicationSettings>
    <userSettings>
        <MedX.Desktop.Properties.Settings>
            <setting name="IsDarkTheme" serializeAs="String">
                <value>False</value>
            </setting>
        </MedX.Desktop.Properties.Settings>
        <MedX.Desktop.Settings>
            <setting name="IDarkTheme" serializeAs="String">
                <value>False</value>
            </setting>
        </MedX.Desktop.Settings>
    </userSettings>
</configuration>